#lienBouton {
  color: white;
  text-decoration: none;
}

#titreAccueil,
#sousTitre {
  color: #376f98;
}

#texteTitreAccueil,
#sousTexte {
  color: #6a6a6a;
}

#barre {
  color: #6a6a6a;
  margin: 20px 150px;
}
