@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

.choix-mode{
    background-color: #F8F5F2;
    padding-bottom: 5%;
}

.content-choix-mode{
    background-color: white;
    text-align: center; 
    padding: 5% 0 2% 0;
}

.choix-carte{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20%;
    align-items: center;
    padding: 0 15% 0 15%;
    margin-bottom: 4%;
}

.round-button-choix-mode {
    color: #FFFFFF;
    background-color: #376F98;
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    border-radius: 25px;
    height: 30px;
    width: 200px;
    border: none;
}