@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 	50px;
    text-align: center;
    padding: 5%;
}

.qcm-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 	50px;
    text-align: center;
    padding: 5%;
}

.htheme {
    text-align: center;
    padding: 15px;
}

.qcmtheme {
    text-align: center;
    padding: 15px;
}

.bga{
    background-image: url("../img/motif_academie.png");
    background-repeat: no-repeat;
    background-color: rgba(248, 245, 242, 0.9);
    background-size: 800px, 200px;
    background-blend-mode: lighten;
}

.htext{
    color: #6A6A6A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    width: 50%;
    padding-left: 25%;
    font-weight: light;
}

.stext{
    color: #6A6A6A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    width: 50%;
    padding-left: 25%;
    font-weight: lighter;
}