@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  text-align: center;
  padding: 5%;
}

.qcm-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
  text-align: center;
  padding: 5%;
}

input {
  width: 130px;
  color: #000042;
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: bolder;
  border: none;
  border-bottom: 2px solid gray;
}

input:focus {
  outline-color: gray;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.htheme {
  text-align: center;
  padding: 15px;
}

.chrono {
  text-align: right;
  padding-right: 10px;
  width: 100px;
  height: 45px;
  border-radius: 30px;
  background-color: #f8f5f2;
  color: #6a6a6a;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 30px;
  box-shadow: 3px 6px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-image: url("../img/chrono.png");
  background-repeat: no-repeat;
  background-position: 10%;
  position: relative;
  top:50px;
  left:30px;
}

.upright {
  display: grid;
  position: relative;
  top:50px;
  left: 50px;
}

.button2 {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  font-weight: bold;
  color: #6a6a6a;
  margin: 5px;
}

.rectangle2 {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  color: #6a6a6a;
  margin: 5px;
  font-size: 26px;
  font-weight: bold;
}

.button2:hover {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.bga {
  background-image: url("../img/motif_academieee.png");
  background-repeat: no-repeat;
  background-color: rgba(248, 245, 242, 0.9);
  background-size: auto;
  background-blend-mode: lighten;
  background-position: 100% 0%;
}

.htext {
  color: #6a6a6a;
  font-family: "Cormorant Garamond", serif;
  font-size: 35px;
  font-weight: light;
}

.stext {
  color: #6a6a6a;
  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
  font-weight: lighter;
}

.column {
  float: left;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content:"";
  display: table;
  clear: both;
}